{
  "parser": "typescript",
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "semi": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
